@use "variables" as *;
@use "mixins";

.form {
  @include mixins.flex(column);
  gap: 1.5rem;
  border-radius: 3rem;

  &__label {
    flex-grow: 1;
  }

  &__input {
    background: transparent;
    color: white;
    border: $defaultBorder;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    outline-color: $secondary;

    &:focus {
      outline-style: solid;
    }

    &:invalid {
      border-color: $error;
      outline-color: $error;
    }

    &::placeholder {
      color: lighten($primaryLight, 23%);
    }
  }

  &__input_error {
    border-color: $error;
    outline-color: $error;
  }

  &__field-error {
    display: none;
    color: $error;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-top: 0.4rem;
  }

  &__field-error--show {
    display: block;
  }
}

.button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}